@keyframes animon__fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes animon__fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes animon__blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}